@font-face {
    font-family: "PixelEmulator";
    src: url("../font/pixel-emulator.otf");
}

html, body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;

  color: #ffd3b1;

  background-color: #be2801;
}

header {
  display: flex;
  justify-content: center;
}

.description, .contact {
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-content: center;

  width: 100%;
}

.left-spacer img {
  width: 100%;
  height: 100px;

  margin-top: 75px;
  margin-bottom: 20px;
}

.description, .contact a {
  font-size: 24px;
  padding: 5px;
  text-align: center;
  line-height: 1.5;
  color: #ffd3b1; 
  /*margin: 10px;*/
} 

.contact a {
  font-size: 30px;
}

.contact a:hover {
  
}

.main {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

canvas {
  height: 600px;
  width: 760px;
  border: 5px solid #212121;
  margin: 10px;
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-drag: none;
}

.left-spacer {
  display: flex;
  flex-direction: column;

  width: 300px;
}

.right-spacer  {
  display: flex;
  flex-direction: column;
  align-content: center;

  width: 300px;
}

.contact {
  margin-top: 130px;
}